body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 825px;
  margin: 0 auto;
  background-image: url('/images/Background.jpg');
}
.white {
	color: white;
	text-decoration: none;
}
#container {
	height: 600px;
	width: 825px;
	border: 2px solid black;
	margin: 0 auto;
}
#content {
	width: 600px;
	height: 600px;
	display: inline-block;
	vertical-align: top;
}
#collage {
	height: 300px;
	display: block;
}
.image {
	height: 150px;
	width: 150px;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#action_plan_tasks {
	height: 129px;
	display: block;
	background-color: white;
	border-top: 1px solid black;
	overflow: hidden;
	padding: 10px;
}
h3 {
	margin-top: 0;
}
#upcoming_reminders {
	height: 150px;
	background-color: white;
	vertical-align: top;
	padding-left: 10px;
}
.alert {
	color: red;
}

/* View Contact */
#contact_collage {
	height: 300px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
}
img.contact_image {
	height: 300px;
	width: 300px;
}
#contact_info {
	height: 260px;
	width: 260px;
	padding: 20px;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
	overflow-x: hidden;
}
.flat {
	padding: 0;
	margin: 0;
}
div.social {
	text-align: right;
	margin: 10px 5px 10px 0;
}
img.icon {
	display: inline;
	height: 25px;
	width: 25px;
}
#action_plans {	
	background-color: white;
	height: 113px;
	display: block;
	overflow-y: auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}
.action_plan {
	background-color: yellow;
	border-radius: 0 0 5px 0;
	min-height: 50px;
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 10px 5px;
	padding: 5px;
	text-align: center
}
.check {
	background-color: yellow;
	color: gray;
	border: none;
}
#notes_docs {
	padding: 10px;
	height: 145px;
	background-color: white;
	vertical-align: top;
	border-bottom: 2px solid black;
}
.button {
	color: white;
	border: none;
	border-radius: 3px;
}
.green {
	background-color: green;
	margin-left: 125px;
}
.red {
	background-color: red;
}

/* Edit Contact */
.inline {
	width: 150px;
	display: inline-block;
}
.contact {
}
input.city {
	width: 75px;
}
input.state {
	width: 50px;
}
/* Add Contact */
#new_contact {
	padding: 20px 150px;
	background-color: white;
	height: 560px;
}
input.submit {
	margin: 20px 0 0 175px;
}

/* Contacts side bar */
#contacts {
	width: 213px;
	height: 600px;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	border-left: 2px solid black;
}
h4.contacts {
	display: inline-block;
	width: 100px;
	margin-top: 0;
}
h1.letter {
	background-color: black;
	width: 30px;
	height: 30px;
	margin: 3px;
	border-radius: 3px;
	text-align: center;
	color: white;
}
.search {
	margin: 0 0 5px 15px;
	width: 125px;
	vertical-align: top;
}
h1.add {
	display: inline-block;
}
a.contact_list {
	display: block;
	padding: 3px;
	color: blue;
}
img {
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
p.contact_list {
	padding: 10px 0 0 5px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
	font-style: bold;
}