        <div ng-controller="MyContact">

        <div id="contact_collage">
          <img class="contact_image" ng-src="{{contact.picture}}">
        </div><!-- Comment to remove space
     --><div id="contact_info">
          <h2 class="flat" ng-bind="contact.first_name+' '+contact.last_name"></h2>
          <table>
            <tr>
              <td>Phone: </td>
              <td><p ng-bind="contact.phone"></td>
            </tr>
              <td>Address: </td>
              <td>
                <p class="flat" ng-bind="contact.address.street"></p>
                <p class="flat" ng-bind="contact.address.city+', '+contact.address.state"></p>
              </td>
          </table>
          <div class="social">
            <a href="#"><img class="icon" src="/images/Facebook-icon.png"></a>
            <img class="icon" src="/images/Twitter-icon.png">
            <img class="icon" src="/images/Instagram-icon.png">
            <img class="icon" src="/images/LinkedIn-icon.png">
            <img class="icon" src="/images/YouTube-icon.png">
            <img class="icon" src="/images/GooglePlus-icon.png">
          </div>
          <h4>Groups:</h4>
          <a href="#">Family</a>
          <p><a ng-href="#/edit_contact/{{contact._id}}"><button class="button green">Edit</button></a></p>
        </div><!-- Comment to remove space
     --><div id="action_plans">
          <h3>Action Plan</h3>
          <div class="action_plan" ng-repeat="task in tasks | orderBy: 'task.deadline'">
            <h4 class="flat" ng-bind="task.name"></h4>
            <p class="flat" ng-bind="task.deadline | date: 'M/dd/yy'"></p>
            <a href="completeTask()"><input type="checkbox"><button class="check">Completed!</button></a>
          </div>
          <h1 class="letter add">+</h1>
          <form ng-submit="addTask(contact._id)">
            <input type="text" ng-model="new_task.name">
            <input type="date" ng-model="new_task.deadline">
            <button type="submit">Add Task</button>
          </form>
        </div>
        <div id="notes_docs">
          <h3>Notes and Documents</h3>
          <p>This area is for any notes, reminders, and other data.  Christmas cards sent/received.  Birthday gifts given (so as not to repeat).</p>
        </div> 
      </div>