        <div ng-controller="EditContact">

        <div id="contact_collage">
          <img class="contact_image" ng-src="{{contact.picture}}">
        </div><!-- Comment to remove space
     --><div id="contact_info">
          <h2 class="inline contact" ng-bind="contact.first_name+' '+contact.last_name"></h2>
          <button ng-click="removeContact(contact._id)" class="button red">Delete</button>
          <form ng-submit="editContact(contact._id)">
          <table>
            <tr>
              <td>First Name: </td>
              <td><input class="inline" type="text" ng-model="edit_contact.first_name" placeholder="{{contact.first_name}}"></td>
            </tr>
            <tr>
              <td>Last Name: </td>
              <td><input class="inline" type="text" ng-model="edit_contact.last_name" placeholder="{{contact.last_name}}"></td>
            </tr>
            <tr>
              <td>Phone: </td>
              <td><input type="text" ng-model="edit_contact.phone" placeholder="{{contact.phone}}"></td>
            </tr>
            <tr>
              <td>Address: </td>
              <td>
                <input type="text" ng-model="edit_contact.address.street" placeholder="{{contact.address.street}}">
                <input class="inline city" type="text" ng-model="edit_contact.address.city" placeholder="{{contact.address.city}}">
                <input  class="inline state" type="text" ng-model="edit_contact.address.state" placeholder="{{contact.address.state}}">
              </td>
            </tr>
          </table>
          <div class="social">
            <a href="#"><img class="icon" src="/images/Facebook-icon.png"></a>
            <img class="icon" src="/images/Twitter-icon.png">
            <img class="icon" src="/images/Instagram-icon.png">
            <img class="icon" src="/images/LinkedIn-icon.png">
            <img class="icon" src="/images/YouTube-icon.png">
            <img class="icon" src="/images/GooglePlus-icon.png">
          </div>
          <h4>Groups:</h4>
          <a href="#">Family</a>
          <p>
            <input class="button green" type="submit" value="Submit Changes!">
          </p>
          </form>
        </div><!-- Comment to remove space
     --><div id="action_plans">
        <h3>Action Plan</h3>
          <div class="action_plan" ng-repeat="task in tasks | orderBy: 'task.deadline'">
            <h4 class="flat" ng-bind="task.name"></h4>
            <p class="flat" ng-bind="task.deadline | date: 'M/dd/yy'"></p>
            <a href="completeTask()"><input type="checkbox"><button class="check">Completed!</button></a>
          </div>
          <h1 class="letter add">+</h1>
          <form ng-submit="addTask(contact._id)">
            <input type="text" ng-model="new_task.name">
            <input type="date" ng-model="new_task.deadline">
            <button type="submit">Add Task</button>
          </form>
        </div>
        <div id="notes_docs">
          <h3>Notes and Documents</h3>
        </div>
      </div>