  		<div ng-controller="Main">
			<div id="collage">
				<a ng-repeat="person in contacts" ng-href="#/contact/{{person._id}}"><!--
				 --><img class="image" ng-src="{{person.picture}}"><!--
			 --></a>
	        </div>
	        <div id="action_plan_tasks">
	        	<h3>Today's Tasks</h3>
	        	<div class="action_tasks" ng-repeat="action in action_plan | orderBy: 'deadline'">
	        		<input type="checkbox" value="action._id"><span ng-bind="action.name"></span>
	        	</div>
	        </div>
	        <div id="upcoming_reminders">
	          	<h3>Upcoming Reminders</h3>
	          	<input type="checkbox">Patrick's Birthday (<span class="alert">4 days</span>)
	          	<div class="action_tasks" ng-repeat="reminder in reminders | orderBy: 'deadline'">
	        		<input type="checkbox" value="reminder._id"><span ng-bind="reminder.name"></span>
	        	</div>
	        </div>
	    </div>