<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascripts/angular.js"></script>
  <script type="text/javascript" src="/javascripts/angular-route.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/controllers.js"></script>
  <script type="text/javascript" src="/javascripts/factories.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body ng-app="dashboard">
  <h1><a class="white" href="#/"><%= title %></a></h1>
  <div id="container">
    <div id="content">
      <div ng-view="">        
      </div>
    </div><!-- Comment to remove space
 --><div id="contacts" ng-controller="Contacts">
    	<h1>Contacts</h1>
      <h4 class="contacts">Display</h4>
      <select>
        <option value="all" ng-selected="selected">All</option>
        <option value="favorites">Favorites</option>
        <option value="groups">Groups</option>
      </select>
      <a ng-href="#new_contact"><h1 class="letter add">+</h1></a>
      <input class="search" type="text" ng-model="filter_name" placeholder="Search Contacts"> <!-- Search bar is almost working perfect -->
      <a class="contact_list" ng-repeat="contact in contacts | filter: filter_name | orderBy: 'first_name'" ng-href="#/contact/{{contact._id}}">
        <img class="contact_list" ng-src="{{contact.picture}}" ng-alt="contact.first_name"><!-- Comment to remove space
     --><p class="contact_list" ng-bind="contact.first_name+' '+contact.last_name"></p>
      </a>
      <!-- Letter for each name will pop up here with contacts that start with that letter below -->
      <!-- Letters will be links to the letter menu and can take you to that letter from there -->
      <!-- all contact info will be a link to that contact -->
      <h1 class="letter">A</h1>
      <div class="contact_list">
        <img class="contact_list" ng-src="/images/test.jpg">
        <p class="contact_list">Contact Name</p>
      </div>
      <h1 class="letter">B</h1>
      <h1 class="letter">C</h1>
    </div>
  </div>
</body>
</html>
